.movieList {
    padding: 15px;

}
.lists {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.list{
    margin: 10px;
}
.link {
    display: block;
    text-decoration: none;
    color: black;
}

.link:hover {
    color: blue;
}

.active {
    color: royalblue;
}