.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link {
    display: block;
    text-decoration: none;
    color: black;
}

.link:hover {
    color: blue;
}

.active {
    color: royalblue;
}